header {
    background-color:  #eea342;
    color: rgb(0, 0, 0);
    padding: 25px;
    text-align: center;
   
}
figure{
    text-align: center;
    padding: 40px;
}
img{
    width: 30%;
    height: auto;
}
figcaption{
   font-style: oblique; 
   font-family: arial;

}