body {
	background-color: #A16AE8;
	color: black;

}

header {

background-color:#FD49A0;
}

#Nome{
font-size: 100px;
text-align: center;
font-weight: bold;
font-style: italic;
text-shadow: 5px 5px red;
font-family: reboto; 
}

#nag{
font-size: 50px;
text-align: center;
font-weight: bold;
font-style: italic;
text-shadow: 2px 2px #36EEE0;
font-family: reboto;
 
}

#s1{
color: #603F8B;
font-size: 50px;
font-weight: bold;
font-style: italic;
text-shadow: 2px 2px #FD49A0;
font-family: reboto; 
}
#s2{
color: #603F8B;
font-size: 50px;
font-weight: bold;
font-style: italic;
text-shadow: 2px 2px #FD49A0;
font-family: reboto; 
}
#s3{
color: #603F8B;
font-size: 50px;
font-weight: bold;
font-style: italic;
text-shadow: 2px 2px #FD49A0;
font-family: reboto; 
}
#s4{
color: #603F8B;
font-size: 50px;
font-weight: bold;
font-style: italic;
text-shadow: 2px 2px #FD49A0;
font-family: reboto; 
}
#s5{
color: #603F8B;
font-size: 50px;
font-weight: bold;
font-style: italic;
text-shadow: 2px 2px #FD49A0;
font-family: reboto; 
}
#s6{
color: #603F8B;
font-size: 50px;
font-weight: bold;
font-style: italic;
text-shadow: 2px 2px #FD49A0;
font-family: reboto; 
}

.container-flex{
	display: flex;
	flex-direction: row; 
	justify-content: space-around;
	align-items: center;
	min-height: 100px;
	background-color: #B4FEE7;
	color: black
}
.naveg{

display: flex;
flex-direction: row;
justify-content: space-around;
align-items: center;
min-height: 100px;
background-color: #603F8B;
color: black	
}